<div class="card">
  <h2 class="text-xl font-semibold mb-4">Crear Nueva Carrera y su Materia</h2>
  <form [formGroup]="carreramateriaForm" (ngSubmit)="onCreate()">
    <div class="grid grid-cols-2 gap-3">
      <!-- materia -->
      <div class="mb-4" formGroupName="materia">
        <label for="materiaId" class="block text-sm font-medium text-gray-700"
          >Materia</label
        >
        <select
          id="materiaId"
          formControlName="id"
          class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
          required
        >
        <option value="" disabled selected >Seleccione una Materia</option>
          <option *ngFor="let materia of materias" [value]="materia.id">
            {{ materia.nombre }}
          </option>
        </select>
        <div
          *ngIf="
            carreramateriaForm.get('materia.id')?.invalid &&
            carreramateriaForm.get('materia.id')?.touched
          "
        ></div>
      </div>

      <!-- carrera -->
      <div class="mb-4" formGroupName="carrera">
        <label for="carreraId" class="block text-sm font-medium text-gray-700"
          >carrera</label
        >
        <select
          id="carreraId"
          formControlName="id"
          class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
          required
        >
        <option value="" disabled selected >Seleccione una Carrera</option>
          <option *ngFor="let carrera of carreras" [value]="carrera.id">
            {{ carrera.nombre }}
          </option>
        </select>
        <div
          *ngIf="
            carreramateriaForm.get('carrera.id')?.invalid &&
            carreramateriaForm.get('carrera.id')?.touched
          "
        ></div>
      </div>
    </div>
    <div class="flex justify-end">
      <button type="submit" class="btngray">
        <i class="fa-solid fa-bookmark"></i> Crear
      </button>
    </div>
  </form>
</div>
