<div class="card">
  <h2 class="text-xl font-semibold mb-4">Edit horario</h2>
  <form [formGroup]="horarioForm" (ngSubmit)="update()">
    <div class="grid grid-cols-2 gap-3 mb-3">
      <!-- materia -->
      <div
        formGroupName="materia"
        class="block text-sm font-medium text-gray-700 mb-2"
      >
        <label for="materiaId">materia:</label>
        <select
          id="materiaId"
          formControlName="id"
          class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
        >
          <!-- Cambia formControlName a 'id' -->
          <option *ngFor="let materia of materias" [value]="materia.id">
            {{ materia.nombre }}
          </option>
        </select>
        <div
          *ngIf="
            horarioForm.get('materia.id')?.invalid &&
            horarioForm.get('materia.id')?.touched
          "
        ></div>
      </div>

      <!-- grupo -->
      <div formGroupName="grupo">
        <label
          for="grupoId"
          class="block text-sm font-medium text-gray-700 mb-2"
          >grupo:</label
        >
        <select
          id="grupodId"
          formControlName="id"
          class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
        >
          <!-- Cambia formControlName a 'id' -->
          <option *ngFor="let grupo of grupos" [value]="grupo.id">
            {{ grupo.sigla }}
          </option>
        </select>
        <div
          *ngIf="
            horarioForm.get('grupo.id')?.invalid &&
            horarioForm.get('grupo.id')?.touched
          "
        ></div>
      </div>
      <!-- Dia -->
      <div>
        <label for="dia" class="block text-sm font-medium text-gray-700 mb-2"
          >Nombre:</label
        >
        <input
          id="dia"
          formControlName="dia"
          type="text"
          class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
        />
        <div
          *ngIf="
            horarioForm.get('dia')?.invalid && horarioForm.get('dia')?.touched
          "
        ></div>
      </div>

      <!-- hora inicio -->
      <div>
        <label
          for="horaInicio"
          class="block text-sm font-medium text-gray-700 mb-2"
          >Hora Inicio:</label
        >
        <input
          id="horaInicio"
          class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
          formControlName="horaInicio"
          type="time"
        />
        <div
          *ngIf="
            horarioForm.get('horaInicio')?.invalid &&
            horarioForm.get('horaInicio')?.touched
          "
        ></div>
      </div>

      <!-- hora fin -->
      <div>
        <label
          for="horaFin"
          class="block text-sm font-medium text-gray-700 mb-2"
          >Hora Fin:</label
        >
        <input
          id="horaFin"
          formControlName="horaFin"
          type="time"
          class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
        />
        <div
          *ngIf="
            horarioForm.get('horaFin')?.invalid &&
            horarioForm.get('horaFin')?.touched
          "
        ></div>
      </div>

      <!-- aula -->
      <div formGroupName="aula">
        <label for="aulaId" class="block text-sm font-medium text-gray-700 mb-2"
          >aula:</label
        >
        <select
          id="aulaId"
          formControlName="id"
          class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
        >
          <!-- Cambia formControlName a 'id' -->
          <option *ngFor="let aula of aulas" [value]="aula.id">
            {{ aula.numero }}
          </option>
        </select>
        <div
          *ngIf="
            horarioForm.get('aula.id')?.invalid &&
            horarioForm.get('aula.id')?.touched
          "
        ></div>
      </div>
    </div>
    <div class="flex space-x-4 justify-end">
      <button type="submit" [disabled]="horarioForm.invalid" class="btngray">
        <i class="fa-solid fa-arrows-rotate"></i> Actualizar
      </button>
      <button
        type="button"
        (click)="onDelete()"
        [disabled]="horarioForm.invalid"
        class="btngray"
      >
        <i class="fa-solid fa-trash"></i> Eliminar
      </button>
    </div>
  </form>
</div>
