<div class="card">
    <h1 class="text-2xl font-bold mb-4">Editar Grupo</h1>

    <form (ngSubmit)="onSubmit()" *ngIf="grupo">
      <div class="mb-4">
        <label for="sigla" class="block text-sm font-medium text-gray-700">Sigla</label>
        <input
          type="text"
          id="sigla"
          [(ngModel)]="grupo.sigla"
          name="sigla"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          required
        />
      </div>

      <div class="flex space-x-4 justify-end">
        <button
          type="submit"
          class="btngray"
        >
        <i class="fa-solid fa-arrows-rotate "></i> Actualizar
        </button>
        <button
          type="button"
          (click)="onDelete()"
          class="btngray"
        >
        <i class="fa-solid fa-trash"></i> Eliminar
        </button>
      </div>
    </form>
  </div>

