<div class="card">
  <h2 class="text-xl font-semibold mb-4">Crear Nuevo docente</h2>
  <form [formGroup]="docenteForm" (ngSubmit)="onCreate()">
    <div class="grid grid-cols-2 gap-3">
      <!-- nombre -->
      <div class="mb-4">
        <label for="nombre" class="block text-sm font-medium text-gray-700"
          >Nombre</label
        >
        <input
          type="text"
          id="nombre"
          formControlName="nombre"
          class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
          required
          placeholder="Introduce el nombre del docente"
        />
        <div
          *ngIf="
            docenteForm.get('nombre')?.invalid &&
            docenteForm.get('nombre')?.touched
          "
        ></div>
      </div>

      <!-- apellidoP -->
      <div class="mb-4">
        <label for="apellidoP" class="block text-sm font-medium text-gray-700"
          >Apellido Paterno</label
        >
        <input
          type="text"
          id="apellidoP"
          formControlName="apellidoP"
          class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
          required
          placeholder="Introduce el apellido paterno"
        />
        <div
          *ngIf="
            docenteForm.get('apellidoP')?.invalid &&
            docenteForm.get('apellidoP')?.touched
          "
        ></div>
      </div>

      <!-- apellidoM -->
      <div class="mb-4">
        <label for="apellidoM" class="block text-sm font-medium text-gray-700"
          >Apellido Materno</label
        >
        <input
          type="text"
          id="apellidoM"
          formControlName="apellidoM"
          class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
          required
          placeholder="Introduce el apellido materno"
        />
        <div
          *ngIf="
            docenteForm.get('apellidoM')?.invalid &&
            docenteForm.get('apellidoM')?.touched
          "
        ></div>
      </div>

      <div class="mb-4" formGroupName="usuario">
        <label for="usuarioId" class="block text-sm font-medium text-gray-700"
          >usuario</label
        >
        <select
          id="usuarioId"
          formControlName="id"
          class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
          required
        >
          <option value="" disabled selected>Seleccione un usuario</option>
          <option *ngFor="let usuario of usuarios" [value]="usuario.id">
            {{ usuario.username }}
          </option>
        </select>
        <div
          *ngIf="
            docenteForm.get('usuario.id')?.invalid &&
            docenteForm.get('usuario.id')?.touched
          "
        ></div>
      </div>
    </div>

    <div class="flex justify-end">
      <button type="submit" class="btngray">
        <i class="fa-solid fa-bookmark"></i> Crear docente
      </button>
    </div>
  </form>
</div>
