
<div class="relative overflow-x-auto rounded-lg">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead class="text-xs text-white uppercase bg-gray-700">
      <tr>
        <th scope="col" class="px-6 py-3">id</th>
        <th scope="col" class="px-6 py-3">nombre</th>
        <th scope="col" class="px-6 py-3"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b dark:bg-gray-800 text-gray-900">
        <td
          scope="row"
          class="px-6 py-4 font-medium whitespace-nowrap dark:text-white"
        >
          1
        </td>
        <td class="px-6 py-4">Calculo 1</td>

        <td class="px-6 py-4">
          <a
            href="#"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Edit</a
          >
        </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 text-gray-900">
        <td
          scope="row"
          class="px-6 py-4 font-medium whitespace-nowrap dark:text-white"
        >
          2
        </td>
        <td class="px-6 py-4">Fisica 1</td>

        <td class="px-6 py-4">
          <a
            href="#"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Edit</a
          >
        </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 text-gray-900">
        <td
          scope="row"
          class="px-6 py-4 font-medium whitespace-nowrap dark:text-white"
        >
          3
        </td>
        <td class="px-6 py-4">Estructura discreta</td>

        <td class="px-6 py-4">
          <a
            href="#"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Edit</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
