<div class="card">
  <h2 class="text-xl font-semibold mb-4">Editar Usuario</h2>
  <form [formGroup]="administradorForm" (ngSubmit)="update()">

     <div class="grid grid-cols-2 gap-4">
      <div class="mb-4">
        <!-- nombre -->
        <label for="nombre" class="block text-sm font-medium text-gray-700 mb-2"
          >Nombre:</label
        >
        <input
          id="nombre"
          formControlName="nombre"
          class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
          required
        />
        <div
          *ngIf="
            administradorForm.get('nombre')?.invalid &&
            administradorForm.get('nombre')?.touched
          "
        ></div>
      </div>

      <!-- apellidoP -->
      <div>
        <label
          for="apellidoP"
          class="block text-sm font-medium text-gray-700 mb-2"
          >Apellido Paterno:</label
        >
        <input
          id="apellidoP"
          formControlName="apellidoP"
          class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
        />
        <div
          *ngIf="
            administradorForm.get('apellidoP')?.invalid &&
            administradorForm.get('apellidoP')?.touched
          "
        >
          Apellido Paterno es requerido
        </div>
      </div>

      <!-- apellidoM -->
      <div>
        <label
          for="apellidoM"
          class="block text-sm font-medium text-gray-700 mb-2"
          >Apellido Materno:</label
        >
        <input
          id="apellidoM"
          formControlName="apellidoM"
          class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
          />
        <div
          *ngIf="
            administradorForm.get('apellidoM')?.invalid &&
            administradorForm.get('apellidoM')?.touched
          "
        >
          Apellido Materno es requerido
        </div>
      </div>

      <div formGroupName="usuario">
        <label for="usuarioId">Usuario:</label>
        <select
          id="usuarioId"
          formControlName="id"
          class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-lg focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
          required
        >
          <option *ngFor="let usuario of usuarios" [value]="usuario.id">
            {{ usuario.username }}
          </option>
        </select>
        <div
          *ngIf="
            administradorForm.get('usuario.id')?.invalid &&
            administradorForm.get('usuario.id')?.touched
          "
        >
          Usuario es requerido
        </div>
      </div>
     </div>

    <div class="flex space-x-4 justify-end">
      <button
        type="submit"
        [disabled]="administradorForm.invalid"
        class="btngray"
      >
        <i class="fa-solid fa-arrows-rotate"></i> Actualizar
      </button>
      <button
        type="button"
        (click)="onDelete()"
        [disabled]="administradorForm.invalid"
        class="btngray"
      >
        <i class="fa-solid fa-trash"></i> Eliminar
      </button>
    </div>
  </form>
</div>
