<section class="bg-gray-300 px-5 py-5 h-screen hidden sm:block">
  <div class="w-full h-full flex justify-items-center">
    <div class="grid grid-cols-3 gap-8 w-full h-full">
      <div class="card col-span-1">
        <div class="h-full w-full">
          <div class="md:mb-10 xl:mb-20">
            <div class="flex items-center justify-center">
              <img
                class="size-4 sm:size-4 md:size-14 lg:size-14 xl:size-20"
                src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg"
                alt="logo"
              />
            </div>
            <div class="flex items-center justify-center">
              <a
                href="#"
                class="flex items-center text-[10px] sm:text-2xl md:text-2xl lg:text-2xl xl:text-3xl font-semibold text-gray-900"
              >
                Bienvenido a Uni-Sist
              </a>
            </div>
            <h1
              class="flex items-center justify-center text-gray-600 xl:text-lg 2xl:text-xl"
            >
              Por favor introduzca sus datos
            </h1>
          </div>
          <form (ngSubmit)="onLogin()" class="">
            <div class="flex lg:mb-7 xl:mb-10 2xl:mb-14">
              <label
                for="email"
                class="font-semibold absolute text-sm xl:text-lg 2xl:text-xl text-gray-500 -translate-y-5 xl:-translate-y-7"
                >Tu correo electrónico</label
              >
              <input
                type="email"
                [(ngModel)]="loginObj.email"
                name="email"
                id="email"
                class="block py-2.5 px-0 w-full text-sm 2xl:text-xl text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder="nombre@empresa.com"
                required
              />
            </div>
            <div class="flex lg:mb-4 xl:mb-7">
              <label
                for="password"
                class="font-semibold absolute text-sm xl:text-lg 2xl:text-xl text-gray-500 -translate-y-5 xl:-translate-y-7"
                >Contraseña</label
              >
              <input
                type="password"
                [(ngModel)]="loginObj.password"
                name="password"
                id="password"
                placeholder=""
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                required
              />
            </div>
            <div class="flex lg:mb-4 xl:mb-7">
              <div class="flex items-start">
                <div class="flex items-center h-full">
                  <input
                    id="remember"
                    aria-describedby="remember"
                    type="checkbox"
                    class="w-4 h-4 border border-gray-300 rounded-lg bg-gray-50"
                  />
                </div>
                <div class="ml-3 text-sm">
                  <label
                    for="remember"
                    class="text-gray-500 text-sm xl:text-lg 2xl:text-xl"
                    >Recuérdame</label
                  >
                </div>
              </div>
            </div>
            <div>
              <button
                type="submit"
                class="w-full text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm xl:text-lg 2xl:text-xl px-5 py-2.5 me-2 mb-2"
              >
                Iniciar sesión
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="bg-white col-span-2">dfg</div>
    </div>
  </div>
</section>
<section class="bg-gray-50 block sm:hidden">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-full"
  >
    <a
      href="#"
      class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white"
    >
      <img
        class="w-8 h-8 mr-2"
        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg"
        alt="logo"
      />
      Bienvenido
    </a>
    <div
      class="w-full max-w-md bg-white rounded-lg shadow dark:border dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
        >
          Por favor introduzca sus datos
        </h1>
        <form (ngSubmit)="onLogin()" class="p-6 space-y-4 md:space-y-6">
          <div>
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your email</label
            >
            <input
            type="email"
            [(ngModel)]="loginObj.email"
            name="email"
            id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder=""
              required=""
            />
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Password</label
            >
            <input
              type="password"
              [(ngModel)]="loginObj.password"
              name="password"
              id="password"
              placeholder=""
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required=""
            />
          </div>
          <div class="flex items-center justify-between">
            <div class="flex items-start">
              <div class="flex items-center h-5">
                <input
                  id="remember"
                  aria-describedby="remember"
                  type="checkbox"
                  class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
                  required=""
                />
              </div>
              <div class="ml-3 text-sm">
                <label for="remember" class="text-gray-500 dark:text-gray-300"
                  >Remember me</label
                >
              </div>
            </div>
          </div>
          <button
            type="submit"
            class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
          >
            Sign in
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- <form (ngSubmit)="onLogin()" class="max-w-md mx-auto">
        <div class="relative z-0 w-full mb-7 group">
          <label
            for="email"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-1 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Tu correo electrónico</label
          >
          <input
            type="email"
            [(ngModel)]="loginObj.email"
            name="email"
            id="email"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder="nombre@empresa.com"
            required
          />
        </div>
        <div class="relative z-0 w-full mb-2 group">
          <label
            for="password"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-1 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Contraseña</label
          >
          <input
            type="password"
            [(ngModel)]="loginObj.password"
            name="password"
            id="password"
            placeholder=""
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            required
          />
        </div>
        <div class="relative z-0 w-full mb-2 group">
          <div class="flex items-start">
            <div class="flex items-center h-5">
              <input
                id="remember"
                aria-describedby="remember"
                type="checkbox"
                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
              />
            </div>
            <div class="ml-3 text-sm">
              <label for="remember" class="text-gray-500 dark:text-gray-300"
                >Recuérdame</label
              >
            </div>
          </div>
        </div>
        <div>
          <button
            type="submit"
            class="w-full text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
          >
            Iniciar sesion
          </button>
        </div>
      </form> -->
