<div class="card">
  <div class="flex justify-between mb-4">
    <h2 class="text-lg font-semibold text-gray-900 dark:text-white">
      Listado de Modulos
    </h2>
    <a [routerLink]="['/modulo/crear']" class="btngray">Crear</a>
  </div>
  <div class="relative overflow-x-auto rounded-lg">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead class="text-xs text-white uppercase bg-gray-700">
        <tr>
          <th scope="col" class="px-6 py-3">ID</th>
          <th scope="col" class="px-6 py-3">Numero</th>
          <th scope="col" class="px-6 py-3">Facultad</th>
          <th scope="col" class="px-6 py-3">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let modulo of modulos"
          class="odd:bg-white odd:dark:bg-gray-900 even:bg-stone-200 even:dark:bg-gray-800 border-b dark:border-gray-700"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ modulo.id }}
          </th>
          <td class="px-6 py-4">
            {{ modulo.nombre }}
          </td>
          <td class="px-6 py-4">
            {{ modulo.facultad.nombre }}
          </td>
          <td class="px-6 py-4">
            <a
              [routerLink]="['/modulo/editar', modulo.id]"
              class="btngray"
              ><i class="fa-solid fa-pen-to-square"></i> Edit</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
