<aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-[100vh] pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700 ease-in" aria-label="Sidebar">
  <div class="h-full px-3 pb-4 overflow-y-auto bg-white ">
     <ul class="space-y-2 font-medium">

      @for(item of menu; track $index){
          <li> <!-- Agregar la etiqueta de apertura de <li> -->
              <a
                  [routerLink]="item.path"
                  routerLinkActive="bg-gray-700 text-white shadow"

                  [routerLink]="[item.path]"
                  routerLinkActive="bg-gray-700 text-white shadow-md shadow-graygreen-1100"

                  href="#"
                  class="flex items-center p-2 text-gray-500 hover:text-gray-700 rounded-lg  hover:bg-gray-200 hover:opacity-100  hover:shadow-lg hover:shadow-graygreen-1100 group">

                  <!-- <svg class="w-5 h-5 text-gray-600 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">

                   </svg> -->
                  <!--  <span>
                    f<i class="fa-solid fa-chart-line"></i>
                   </span> -->
                  <div class="flex flex-col ">
                      <span class=" ms-3 text-lg font-bold leading-5  ">{{item.title}}</span>
                      <span class=" ms-3 text-sm   hidden md:block">{{ item.path }}</span>
                  </div>
              </a>
          </li> <!-- Agregar la etiqueta de cierre de <li> -->
      }

     </ul>
  </div>
</aside>
