<form [formGroup]="carreraForm" (ngSubmit)="update()">
  <div>
    <label for="nombre">Nombre:</label>
    <input id="nombre" formControlName="nombre">
    <div *ngIf="carreraForm.get('nombre')?.invalid && carreraForm.get('nombre')?.touched">
      El nombre es requerido.
    </div>
  </div>

  <div formGroupName="facultad"> 
    <label for="facultadId">Facultad:</label>
    <select id="facultadId" formControlName="id"> <!-- Cambia formControlName a 'id' -->
      <option *ngFor="let facultad of facultades" [value]="facultad.id">{{ facultad.nombre }}</option>
    </select>
    <div *ngIf="carreraForm.get('facultad.id')?.invalid && carreraForm.get('facultad.id')?.touched">
      La facultad es requerida.
    </div>
  </div>

  <button type="submit" [disabled]="carreraForm.invalid">Actualizar</button>
  <button type="button" (click)="onDelete()" [disabled]="carreraForm.invalid">Eliminar</button>
</form>
